// Fonts
$default-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$firasans-font: 'Fira Sans', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

// Colors
$text-color: #000;
$light-color: #f9f9f9;
$footer-color: #919191;